<footer class="footer navbar-fixed-bottom  footnav">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); flex-shrink: 0;" >

© 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>