<h1>Contact us page</h1>
<br>
<h4> Complete the form below </h4>
<bh>

<div class="contactContainer">

    <form action="">
        <label for="fName">First Name: </label>
        <input type="fName" name="fName" placeholder="First Name" required> <br>
        <label for="fName">Last Name: </label>
        <input type="fName" name="lName" placeholder="Last Name" required> <br>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" > <br>
        <label for="subject">Subject:</label><br>
        <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>
        <br>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>

<br>

<p> We have a estimate 24 hr return time </p>