<h1>Book Spot Home</h1>


<h3>The place where you can save your favourite books by adding to your collection</h3>
<p>Add your book to a Collection or treat as A Wish List</P>
<br>


<%= image_tag "homeImage.png"%>
<%= image_tag "addbookimage.png"%>


<p>
Book Spot the one location where you can store your just read books. It can be a pain to forget a book and then try to remeber a name or author.
This Book Spot takes that pain away, with the simple tool of being able to add your book to a collection or even a wish list of whats next to read.
The way you can use this application is wholely up to you the user.
So happy reading, and what ever you imagine can come through.
<br><br>
<!-#https://loremipsum.io/generator?n=5&t=p -->
Lorem ipsum odor amet, consectetuer adipiscing elit. Eget potenti platea nec fusce arcu nulla ex. 
Suscipit porta natoque egestas placerat praesent. Turpis malesuada sapien lacinia urna leo pharetra.
Rhoncus mi pretium etiam tellus ligula. Lorem duis fringilla torquent commodo tempor etiam posuere nisi.
Hendrerit scelerisque nostra placerat vitae risus ridiculus. Posuere sed adipiscing sodales nisi odio, netus condimentum ultrices. 
<br><br>
Luctus volutpat dui eget pulvinar consectetur feugiat. Vestibulum dapibus phasellus ornare mus convallis neque feugiat lacinia! Orci ante pretium tellus sed; torquent hendrerit. 
Massa est vestibulum gravida; cubilia penatibus ornare tincidunt vel. Tempor porttitor sollicitudin pharetra montes cubilia. Sem feugiat felis aenean cras; 
volutpat tincidunt nullam nulla maximus. Suscipit ante cras velit hendrerit gravida ullamcorper imperdiet tempor potenti. Ad arcu penatibus per quis vivamus neque nullam.
<br><br>
Finibus nibh lacus consequat, hendrerit finibus quisque leo felis. 
Tincidunt dapibus gravida vel euismod fames scelerisque. 
Pellentesque viverra curabitur justo eleifend morbi non vitae velit.
 Molestie eros aliquam penatibus pretium convallis sociosqu vitae mollis? Orci libero dictum quam pellentesque diam morbi sem magnis. 
 Nisl dui feugiat est, tellus montes mus interdum volutpat. Aenean venenatis pharetra augue, curabitur volutpat vivamus. 
 Ac gravida vel turpis imperdiet scelerisque torquent. Dis nascetur nam feugiat leo scelerisque nibh sodales.
</p>