<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<title>Books</title>
<h3> Marvell at your Greatness </h3>
<p>

It doesnt matter the size of the book, you have made the effect, why not add your read book to the list. <br>
<%= link_to "Add ", new_book_path %> another book to your Collection
</P>
<br>


<div >
  <% @books.each do |book| %>
    <%= render book  %>
    <p>
      <%= link_to "view", book %> this book
    </p><br>
  <% end %>
</div>
<br>



