<% content_for :title, "New book" %>

<h1>New book</h1>

<p>Please the form below to be able to add your book to the collection </p>
<br>



<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
<br>

<%= image_tag "addbookimage.png"%>  <!--https://www.pexels.com/photo/books-filed-neatly-on-shelves-1907785/-->
<%= image_tag "addbookimage2.png"%> <!--https://www.pexels.com/photo/string-lights-on-a-book-1791742/-->