/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body
{
  background-color:#FEFBF6;
}

.contactContainer
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.headnav
{
  background-color: #704264;
  color: #f2f2f2;
}

.bookcollection
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-around;
  border: 5px solid black;
}

.bookContent
{
  border: 2px solid #333;
  padding: 20px; 
  margin: 10px;
}

.formContainer
{
  border-radius: 5px;
 
  padding: 20px;
}

.footnav {
    flex-shrink: 0;
    background-color: #B6A28E;
  }

